#info{
    width: 100%;
    text-align: center;
    height: 40px;
    position: relative;
}
.bookDataImg{
  height: 20rem;
  width: 15rem;
}
.footer{
  text-align: center;
  height: 55px;
  color: white;
}
.height-row{
  display: flex;
  
  flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

